# Google Gemini API Key (free tier)
GEMINI_API_KEY=AIzaSyCtd0vAbbIOk0VBm7GMQ0d_5PxnJ9Yi-mY

# ChromaDB persistence directory
CHROMA_DB_PATH=./chroma_db

# Embedding model (runs locally, no API needed)
EMBEDDING_MODEL=all-MiniLM-L6-v2

# Gemini model name
GEMINI_MODEL=gemini-1.5-flash

#Python PATH
PYTHONPATH=/workspaces/Rag_Chat_Assignement python -m uvicorn main:app --reload --host 0.0.0.0 --port 8000